<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Position</th>
        <th>Nbr</th>
        <th>Team Info</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let player of playersTab">
        <td>{{player._id}}</td>
        <td>{{player.name}}</td>
        <td>{{player.age}}</td>
        <td>{{player.position}}</td>
        <td>{{player.nbr}}</td>
        <td>{{player.tId.name}} || {{player.tId.foundation}} :: {{player.tId.owner}}</td>
        <td>
            <button class="btn btn-info">Info</button>
            <button class="btn btn-warning">Edit</button>
            <button class="btn btn-danger">Delete</button>
        </td>
    </tr>
</table>